<%# form_for の代わりに search_form_for を使うことで検索フォームを作成 %>
<%= search_form_for @q do |f| %>

  <%= f.search_field :title_cont, :placeholder => "教材名" %>
  <br />

  <%= f.search_field :lecture_cont, :placeholder => "講義名" %>
  <br />
  
  <%= f.search_field :professor_cont, :placeholder => "教授名" %>
  <br />

  <%= f.search_field :price_lt, :placeholder => "販売価格" %>
  <br />
  
  <%= f.search_field :price_cont, :placeholder => "説明文" %>
  <br />

  <%# 検索ボタン %>
  <%= f.submit %>
<% end %>

<h1>ようこそ</h1>
<p>トップページです。</p>
<% @microposts.each do |micropost| %>
  <%= micropost.title %>
  <%= link_to "編集", edit_micropost_path(micropost.id) if current_user %>
  <%= link_to "削除", micropost, method: :delete, data: { confirm: "本当に削除してもいいですか？" } if current_user %>
<% end %>

<% @search_microposts.each do |micropost| %>
  <%= micropost.title %>
  <%= link_to "編集", edit_micropost_path(micropost.id) if current_user %>
  <%= link_to "削除", micropost, method: :delete, data: { confirm: "本当に削除してもいいですか？" } if current_user %>
<% end %>

